# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Screenshots
Screenshots/

# Project Documentation
Project_Documentation.md
Demo_Script.md
demo video needs/
Project_Helper_Notes.md